<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js" %>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><%= image_tag 'menu2.jpg', :size =>'370x250'%></div>
    <div class="swiper-slide"><%= image_tag 'menu3.jpg',:size =>'370x250'%></div>
    <div class="swiper-slide"><%= image_tag 'menu4.jpg', :size =>'350x250'%></div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<div class="header-container">
  <h2>
    あなたのおすすめメニューを投稿する
    <br>
    <%= link_to "投稿", signup_path, class: "btn btn-lg btn-primary" %>
  </h2>
</div>

<div class="f-container"></div>
  <div class ="f-item1">今週のレコメンドメニュー!</div>
</div>
<div class="f-container1">
  <div class ="f-item2">こんな時のレコメンドメニュ</div>
  <div class = "f-item3">みんなが選ぶ人気メインメニュー！</div>

</div>

<div class="f-container2">
  <div class ="f-item4">コース別一覧</div>

</div>

<script>
  let swipeOption = {
    autoplay: {
		delay: 3000,
		stopOnLastSlide: false,
		disableOnInteraction: false,
		reverseDirection: false
	  },
    pagination: {
		  el: '.swiper-pagination',
		  type: 'bullets',
		  clickable: true
    }
  }
  new Swiper('.swiper-container', swipeOption);
</script>